@page
@model planApp.Pages.Classrooms.IndexModel

@{
    ViewData["Title"] = "Sale";
}

<h2>Sale</h2>

<p>
    <a asp-page="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Classroom[0].Number)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classroom) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
