@page
@model planApp.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <h4>Uczeń</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
    </dl>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Student.Grades)</h4>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Grades[0].Value)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Grades[0].Subject.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Student.Grades)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject.Name)
                    </td>
                    <td>
                        <a asp-page="./GradesDetails" asp-route-id="@item.ID" asp-route-studentId="@Model.Student.ID">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.ID">Edytuj</a> |
    <a asp-page="./Index">Wróć</a>
</div>
