@page
@model planApp.Pages.Grades.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <h4>Ocena</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grade.Subject.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade.Subject.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grade.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grade.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./GradesEdit" asp-route-id="@Model.Grade.ID" asp-route-studentId="@Model.StudentID">Edytuj</a> |
    <a asp-page="./Details" asp-route-id="@Model.StudentID">Wróć</a>
</div>
