@page
@model planApp.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Uczniowie";
}

<h2>Uczniowie</h2>

<p>
    <a asp-page="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Student[0].LastName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edytuj</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Szczegóły</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
