@page
@model planApp.Pages.Teachers.AvailablePeriodsDeleteModel

@{
    ViewData["Title"] = "Usuń";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć ten obiekt?</h3>
<div>
    <h4>Dostępność</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AvailablePeriod.Day)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailablePeriod.Day)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailablePeriod.Start)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailablePeriod.Start)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvailablePeriod.End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvailablePeriod.End)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TeacherID" />
        <input type="hidden" asp-for="AvailablePeriod.ID" />
        <input type="submit" value="Usuń" class="btn btn-default" /> |
        <a asp-page="./Edit" asp-route-id="@Model.TeacherID">Wróć</a>
    </form>
</div>
