@page
@model planApp.Pages.Teachers.EditModel

@{
    ViewData["Title"] = "Edytuj";
}

<h2>Edytuj</h2>

<hr />
<h4>Nauczyciel</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Teacher.ID" />
            <div class="form-group">
                <label asp-for="Teacher.FirstName" class="control-label"></label>
                <input asp-for="Teacher.FirstName" class="form-control" />
                <span asp-validation-for="Teacher.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Teacher.LastName" class="control-label"></label>
                <input asp-for="Teacher.LastName" class="form-control" />
                <span asp-validation-for="Teacher.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Teacher.Subjects)</h4>
<p>
    <a asp-page="SubjectsAdd" asp-route-teacherId="@Model.Teacher.ID">Dodaj</a>
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher.Subjects[0].Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teacher.Subjects)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        <a asp-page="./SubjectsRemove" asp-route-id="@item.ID" asp-route-teacherId="@Model.Teacher.ID">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Teacher.Availability)</h4>
<p>
    <a asp-page="AvailablePeriodsCreate" asp-route-teacherId="@Model.Teacher.ID">Dodaj</a>
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher.Availability[0].Day)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher.Availability[0].Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Teacher.Availability[0].End)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Teacher.Availability)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Day)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                    <td>
                        <a asp-page="./AvailablePeriodsEdit" asp-route-id="@item.ID" asp-route-teacherId="@Model.Teacher.ID">Edytuj</a> |
                        <a asp-page="./AvailablePeriodsDelete" asp-route-id="@item.ID" asp-route-teacherId="@Model.Teacher.ID">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<div>
    <a asp-page="./Index">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
