@page
@model planApp.Pages.Classes.DetailsModel

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <hr />
    <h4>Klasa</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class.Letter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Letter)
        </dd>
    </dl>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Class.Students)</h4>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class.Students[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class.Students[0].LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Class.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a asp-page="../Students/Details" asp-route-id="@item.ID">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Class.Requirements)</h4>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class.Requirements[0].Hours)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Class.Requirements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.ID">Szczegóły</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Class.ID">Edytuj</a> |
    <a asp-page="./Index">Wróć</a>
</div>
