@page
@model planApp.Pages.Classes.EditModel

@{
    ViewData["Title"] = "Edytuj";
}

<h2>Edytuj</h2>

<hr />
<h4>Klasa</h4>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Class.ID" />
            <div class="form-group">
                <label asp-for="Class.Year" class="control-label"></label>
                <input asp-for="Class.Year" class="form-control" />
                <span asp-validation-for="Class.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class.Letter" class="control-label"></label>
                <input asp-for="Class.Letter" class="form-control" />
                <span asp-validation-for="Class.Letter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-default" />
            </div>
        </form>
    </div>
    <p>
        <a asp-page="StudentsAdd">Zapisz</a>
    </p>
</div>
<div>
    <a asp-page="./ScheduleGenerator" asp-route-id="@Model.Class.ID">Generuj plan</a>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Class.Students)</h4>
<p>
    <a asp-page="StudentsAdd" asp-route-classId="@Model.Class.ID">Dodaj</a>
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class.Students[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class.Students[0].LastName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Class.Students)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        <a asp-page="./StudentsRemove" asp-route-id="@item.ID" asp-route-classId="@Model.Class.ID">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<hr />
<h4>@Html.DisplayNameFor(model => model.Class.Requirements)</h4>
<p>
    <a asp-page="LessonRequirementsCreate1" asp-route-id="@Model.Class.ID">Dodaj</a>
</p>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Class.Requirements[0].Hours)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Class.Requirements)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        <a asp-page="./LessonRequirementsEdit" asp-route-id="@item.ID" asp-route-classId="@Model.Class.ID">Edytuj</a> |
                        <a asp-page="./LessonRequirementsDelete" asp-route-id="@item.ID" asp-route-classId="@Model.Class.ID">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-page="./Index">Wróć</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
